version: "3.9"

services:
  app:
    build: .
    command: npm run dev -- --host 0.0.0.0 --port 5173
    ports:
      - "5173:5173"
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    stdin_open: true
    tty: true
    environment:
      NODE_ENV: development
      HTTP_PROXY: http://udp-proxy.fiducial.dom:8888/
      HTTPS_PROXY: http://udp-proxy.fiducial.dom:8888/

  tests:
    build: .
    command: npm test
    profiles: ["tests"]
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    working_dir: /app
    environment:
      NODE_ENV: test
    tty: true

volumes:
  node_modules:
